/* 后台框架尺寸 */
// 菜单宽度
$navMenu:250px;
$navMenuMin:64px;
$mainColor:#f56c6c;
$layoutHeader:75px;
@mixin webkit($type,$value) {
-webkit-#{$type}: $value;
-moz-#{$type}: $value;
-ms-#{$type}: $value;
-o-#{$type}: $value;
#{$type}: $value;
}